body{ background: #eee;}
.outer {
	font-family: sans-serif;

	text-align: center;
	width: 100%;
}

h2 { margin: 0.5em 0;}
h3 { margin: 0.1em 0;}
h4 { margin: 0.1em 0;}

#canvas {
	width: 640px;
	height: 320px;
	background: #1E1E1E;
	border: 1px solid #151515;
	border-bottom: none;
}

#notification{
	display: block; width: 100%; background: #151515;
	color: #00ff00; text-align: left; padding: 0.25em 0.5em;
	font-family: monospace;
}

.emulator{
	text-align: center;
	width: 640px;
	margin: 0 auto;
	position: relative;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
    z-index: 1;
}



.btn:focus, .btn:active {
  outline: none !important;
}

.buttons {
	margin:0 auto;
	padding: 0.5em;
	background: #666;
	border: 1px solid #151515;
	border-top: none;
}

.no-gutter {
    padding:0;
}

#file_title{
	background: #fff;
}

.btn-sized{
	height: 35px;
}

#help{

	width: 500px;
	background: #f6f6f6;
	color: black;
	padding: 1em;
	text-align: left;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 11pt;
}

#close-help{
	color: #555;
	float: right;
	position: relative;
	font-size: 11pt;
	cursor: pointer;
}
#close-help:hover{
	color: #000;
}

#help-screen{
	position: absolute; top: 0; left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    display: none;
}


#mapping {
	font-family: monospace;
	padding-bottom: 0.25em;
}